div.container{
    display: flex;
}

div#addDia{
    width: 50%;
}

div#cadUser{
    width: 30%;
    text-align: right;
    margin: auto;
}

input{
    margin: 5px;
}

div#listUser{
    width: 70%;
    text-align: center;
    
}

 div#listOpc{
    width: 50%;

 }

table{
    margin: auto;
    text-align: center;
    border: 1px solid gray;
    border-collapse: collapse;
    margin-top: 10px;
}


th,td{
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
    width: 25%;
}
    