{% extends 'base.html' %}

{% block titulo %} Administração {% endblock %}

{% block corpo %}

Administração <br>

<a href="{{url_for('auth.logout')}}"> Sair </a>
<div class="container">

   
    <div id="cadUser">
         <h3> Cadastro de Usuarios </h3> 
        <form action="" method="post">

            Nome: <input type="text" name="nomeForm" id="nomeForm" required><br>
            Usuario: <input type="text" name="userForm" id="userForm" required><br>
            Senha: <input type="password" name="senhaForm" id="senhaForm" required><br>
            Tipo: <select name="tipoForm" id="tipoForm" required>
                <option value="" selected disabled>-- Selecione --</option>
                <option value="admin"> Administrador </option>
                <option value="cozinha"> Cozinha </option>
                <option value="funcionario"> Funcionario  </option>
            </select> <br>
            <input type="submit" value="Cadastrar">

        </form>
    </div>
    <div id="listUser">
        <h3> Usuarios Cadastrados</h3>
        <table>
            <thead>
                <th>Usuario</th>
                <th>Nome</th>
                <th>Ação</th>
            </thead>
            <tbody id="usuarios">

            </tbody>
        </table>
    </div>
</div>
{% endblock %}