{% extends 'base.html' %}

{% block titulo %} Cardapio {% endblock %}

{% block corpo %}

Cardapio <br>

<a href="{{url_for('auth.logout')}}"> Sair </a>

<div id="pedido">

    <h2>Pedido da Semana</h2>
    <form action="">
        <table>
            <thead>
                <th>Dia</th>
                <th>Mistura</th>
                <th>Bebida</th>
                <th>Sobremesa</th>
            </thead>
            <tbody>
                <tr>

                    <td></td>
                    <td><select name="mistForm" id="mistForm">
                            <option value="" selected disabled>-- Selecione --</option>
                            </option>
                        </select></td>
                    <td><select name="bebForm" id="bebForm">
                            <option value="" selected disabled>-- Selecione --</option>
                            </option>
                        </select></td>
                    <td><select name="sobreForm" id="sobreForm">
                            <option value="" selected disabled>-- Selecione --</option>
                            </option>
                        </select></td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Fazer Pedido">
    </form>

</div>

{% endblock %}