{% extends 'base.html' %}

{% block titulo %} Cardapio {% endblock %}

{% block corpo %}

Cardapio <br>

<a href="{{ url_for('auth.logout') }}"> Sair </a>

<div id="pedido">

    <h2>Pedido da Semana (Fazer pedidos)</h2>
    <form action="{{ url_for('cardapio.pedido') }}" method="post">
        <table>
            <thead>
                <tr>
                    <th>Dia</th>
                    <th>Mistura</th>
                    <th>Bebida</th>
                    <th>Sobremesa</th>
                </tr>
            </thead>
            <tbody id="tabelaCardapio">
                <!-- preenchido via JS -->
            </tbody>
        </table>
        <input type="submit" value="Fazer Pedido">
    </form>

    <h2>Pedidos já feitos</h2>
    <table>
        <thead>
            <tr>
                <th>Dia</th>
                <th>Mistura</th>
                <th>Bebida</th>
                <th>Sobremesa</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody id="tabelaPedidosFeitos">
            <!-- preenchido via JS -->
        </tbody>
    </table>

</div>

<script>
window.urlCardapioApi = "{{ url_for('cardapio.proximos') }}";
window.urlPedidosApi = "{{ url_for('cardapio.pedidos_usuario') }}";
</script>
<script src="{{ url_for('static', filename='js/cardapio.js') }}"></script>

{% endblock %}
