{% extends 'base.html' %}

{% block titulo %} Cozinha {% endblock %}

{% block corpo %}

<div class="container">

    <div id="addDia">
        <h3> Adicionar Cardapio (dia)</h3>
        <form action="/cozinha/add_dia" method="post">
            <input type="date" name="dataForm" id="dataForm" required>
            <input type="submit" value="Adicionar">
        </form>
        <h3>Adicionar Opções ao Cardapio</h3>
        <form action="/cozinha/addOpcao" method="post">

            Dia: <select name="diaSelect" class="diaSelect" required>
                <option value="" selected disabled>-- Selecione --</option>
                <!-- os dados serão preenchidos via JS -->
            </select><br>
            Descrição: <input type="text" name="descForm" id="descForm" required><br>
            Categoria: <select name="catSelect" id="catSelect" required>
                <option value="" selected disabled>-- Selecione --</option>
                <option value="mistura">Mistura</option>
                <option value="bebida">Bebida</option>
                <option value="sobremesa">Sobremesa</option>
            </select><br>
            <input type="submit" value="Adicionar">
        </form>
    </div>
    <div id="listOpc">
        <h3> Cardapio do Dia</h3>
        <form action="" method="post">
           Selecione o dia do Cardapio: 
            <select name="ListarSelect" class="diaSelect">
                <option value="" selected disabled>-- Selecione --</option>
            <!-- os dados serão preenchidos via JS -->
            </select><br>
        </form>
        <table>
            <thead>
                <th>Mistura</th>
                <th>Bebida</th>
                <th>Sobremesa</th>
            </thead>
            <tbody id="cadapio-dia">

            </tbody>
        </table>
    </div>
</div>

{% endblock %}